* {
    margin: 0px;
    padding: 0px;
}

html {
    background: #ddd;
}

body {
    font: 14px Helvetica, sans-serif;
    color: #61666c;
}

h1 {
    font-size: 24px;
    color: #fff;
    padding: 8px;
    text-indent: 32px;
    font-weight: normal;
    text-transform: uppercase;
    background-color: #0074A2;
    width: 900px;
    margin: 100px auto 0;
    box-sizing: border-box;
    margin-bottom: -93px;
    z-index: 2;
    position: relative;
    text-shadow: 0 2px 2px #025472;
}

h1:after,
h1:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #025472 transparent;
}

h1:before {
    border-width: 25px 0 0 25px;
    left: 0;
}

h1:after  {
    border-width: 25px 25px 0 0;
    right: 0;
}

a {
    color: #61666c;
    display: block;
    text-decoration: none;
}

a:hover {
    color: #2a2a2a;
}

ul {
    background-color: #fff;
    width: 850px;
    margin: 0 auto;
    min-height: 400px;
    border-radius: 10px;
    padding-top: 140px;
    box-shadow: 0px 0px 9px #bbb;
}

li {
    background: #fff url(images/folder.svg) no-repeat 5px 5px;
    box-sizing: border-box;
    border-bottom: 1px solid #EDF1F5;
    list-style: none;
    font-size: 20px;
    line-height: 25px;
    padding: 10px 10px 10px 45px;
    width: 100%;
}

li:last-child {
    border: none;
}

li:hover {
    background-color: #f6f6f6;
}
